<div class="game-wrapper">
    <top-bar [score]="gameScore.score" homeLink="/home"></top-bar>
    <game-timer></game-timer>
    <div class="grid-wrapper">
        <div class="grid">
            <div class="cell-{{difficulty}}" *ngFor="let cellData of gridData">
                <grid-cell
                    [idx]="cellData.idx"
                    [textValue]="cellData.textValue"
                    [flip]="cellData.flip"
                    [disabled]="cellData.disabled"
                    [locked]="selection.length === 2"
                    (cellFlipped)=updateGame($event)
                ></grid-cell>
            </div>
        </div>
    </div>
    <!-- <game-result *ngIf="showDialog" [gameScore]="gameScore"></game-result> -->
</div>
