<div class="game-wrapper">
    <top-bar></top-bar>
    <div class="grid-wrapper">
        <div class="grid">
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
        
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
        </div>
    </div>
</div>
