<div class="game-wrapper">
    <div class="top-bar">
        <ul>
            <li><span>📋 Score: 220</span></li>
            <li><span>⏱ Time: 10:09:01</span></li>
            <li class="menu"><a routerLink="/home">🏠 Home</a></li>
        </ul>
    </div>
    <div class="grid-wrapper">
        <div class="grid">
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
        
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
            <div class="cell-hard"></div>
        </div>
    </div>
</div>
