.main-wrapper {
    background-color: #ffe8c6;
    margin: 0 auto;
    max-width: 480px;
    min-height: 95.8vh;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px 1px #c59856;
    border: 2px solid #FFE1B5;
    border-radius: 5px;
    overflow: hidden;
}
